*{
  margin: 0;
  padding: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-sizing: border-box;
  
}

body{
  /* background: #080808; */
  background: whitesmoke;
  color:white;
}

 /* Header section */
 .margin{
  min-height: 100px;
}
header{
  display: flex;
  background: linear-gradient(45deg, rgba(23, 23, 23, 0.9) 30%, rgba(21, 11, 108, 0.9) 80%);
  height: 80px;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  z-index: 1000;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

}
.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: sticky; */
  font-size: 20px;
  height: 100%;;
  
  /* padding: 20px; */
  
  
}
.navbar ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;

}
.navbar ul li{
  margin: 0px 20px;
}

a{
  text-decoration: none;
  color: white;
}
.navbar li:hover {
  transform: scale(1.2); 
  color:rgba(93, 79, 216, 0.9); 
}
.navbar a::after {
  content: '';
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 0;
  height: 2px;
  background: rgba(93, 79, 216, 0.9);
  transition: width 0.3s ease;
}

.navbar a:hover::after {
  width: 100%;
}
@media screen and (max-width:500px){
  header {
    height: auto;
    padding: 10px;
    width: 100vw;
    position: sticky;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
  }

  .navbar ul {
    display: block;
    width: 100%;
  }

  .navbar ul li {
    margin: 10px 0;
    text-align: center;
    
  }
  
}

/* Header-section-end */

/* Banner-section-start */
.banner {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 80vh;
  margin-bottom: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.banner-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
   
}

.slide {
  min-width: 100%;
  transition: transform 0.5s;
  padding: 40px;
}

.slide img {
  width: 100%;
  border-radius: 10px;
}

.prev, .next {
  position: absolute;
  top: 57%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 24px;
  border-radius: 5px;
}

.prev { left: 10px; }
.next { right: 10px; }

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Banner-section-end */

/* Courses-section-start */
.section-container{
  height: 100vh;
}


/* Courses-section-end */


/* Footer-section */
footer {
  background: linear-gradient(45deg, rgba(23, 23, 23, 0.9), rgba(21, 11, 108, 0.9)); 
  color: white;
  padding: 85px 0;
  text-align: center;
  bottom: 0;
  width: 100%;
  font-size:1.3rem;
  font-weight: lighter;
}

.social-media {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 23.5px;
}

.social-media li{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.social-media i{
  padding: 5px;
  margin-right: 5px;
  border: 2px white solid;
  border-radius: 15px;
}
.social-media a {
  text-decoration: none;
  color: white;
  font-size: 1.65rem;
  transition: color 0.3s ease, transform 0.3s ease;
  
}

.social-media li:hover {
  transform: scale(1.2); 
  color: rgba(93, 79, 216, 0.9); 
}

footer li::after {
  content: '';
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 0;
  height: 2px;
  background: rgba(75, 60, 206, 0.9);
  transition: width 0.3s ease;
}

footer li:hover::after {
  width: 100%;
}
@media screen and (max-width:500px){
  .social-media{
    display: flex;
    flex-direction: column;
    
  }
  .social-media li {
    justify-content:center;
  }
  
}
/* Footer-section-end */


